<div class="container">
  <div class="row">
    <p>{{niacin}}</p>
    <div class="chart-demo">
      <h2 class="title">Filet Mignon</h2>
      <canvas id="radarChart" width="640" height="400"></canvas>
          <button ng-click="resize(-.25)">Zoom in</button>
    <button ng-click="resize(.25)">Zoom out</button>
    </div>
    <h1>{{recipe.name}}</h1>
    <a href="/recipes/edit/{{recipe._id}}"><button class="btn btn-primary">Edit Recipe</button></a>
    <button class="btn btn-danger" ng-click="deleteRecipe(recipe._id)">Delete</button>
    <p>{{recipe.instructions}}</p>
    <div ng-repeat="food in recipe.ingredients">
      <h4>{{food.name}}</h4>
      <p>{{food.nutrients[0].qty}} {{food.nutrients[0].unit}}</p>
    </div>
  </div>
</div>
