<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h1>{{recipe.name}}</h1>
      <div class="col-xs-11">
        <canvas tc-chartjs chart-type="radar" chart-data="radarData" chart="chart" chart-options="options"></canvas>
      </div>
      <div>
        <button class="btn btn-trans glyphicon glyphicon-plus" ng-click="resize(-.1)"></button>
      </div>
      <div>
        <button class="btn btn-trans glyphicon glyphicon-minus" ng-click="resize(.1)"></button>
      </div>
      <a href="/recipes/edit/{{recipe._id}}"><button class="btn btn-custom">Edit Recipe</button></a>
      <button class="btn btn-inverse" ng-click="deleteRecipe(recipe._id)">Delete</button>
      <h2>Instructions</h2>
      <p>{{recipe.instructions}}</p>
      <h2>Ingredients</h2>
      <div ng-repeat="food in recipe.ingredients">
        <h4>{{food.name}}</h4>
        <p>{{food.nutrients[0].qty}} {{food.nutrients[0].unit}}</p>
      </div>
    </div>
  </div>
</div>
