<div class="col-md-12">
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Nutrients from 100g of {{food.name}}</h3>
        </div>
        <div class="modal-body" class="col-md-12">
          <div ng-repeat="nut in food.nutrients">
            <div class="col-md-6">{{nut.name}}: {{nut.value}} {{nut.unit}}</div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <form class="form-horizontal" ng-submit="saveRecipe()" novalidate>
        <div class="form-group">
          <label>Name</label>
          <input ng-if="type == 'create'"
                 type="text"
                 class="form-control"
                 ng-model="recipeData.name" required>
          <input ng-if="type == 'edit'"
                 type="text"
                 class="form-control"
                 ng-model="recipe.name" required>
        </div>
        <div class="form-group">
          <label>Instructions</label>
          <textarea ng-if="type == 'create'"
                 rows="5"
                 type="text"
                 class="form-control"
                 placeholder="e.g.         1. Cut up onions
                 2. Don't cry
                 3. Add to Salsa Mix"
                 ng-model="recipeData.instructions" required></textarea>
          <textarea ng-if="type == 'edit'"
                 rows="5"
                 type="text"
                 class="form-control"
                 ng-model="recipe.instructions" required></textarea>
        </div>
        <div class="form-group">
          <label ng-hide="ingredients.length < 1">Foods</label>
          <ul ng-repeat="food in ingredients">
            <li>{{food.name}}</br>
            Quantity: <input type="number"
                             ng-model="amount"
                             ng-init="amount = food.nutrients[0].qty"
                             ng-change="changedValue(amount, serving, food.ndbno)" require>
            <select ng-model="serving"
                    ng-init="serving = getCurrentServing(food)"
                    ng-options="measures.label for measures in food.nutrients[0].measures"
                    ng-change="changedValue(amount, serving, food.ndbno)"></select></br>
            <p>{{amount}} {{serving.label}}</p>
            <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="deleteIngredient(food.ndbno)"></button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit"
                    class="btn btn-custom btn-large btn-block"
                    ng-if="type == 'create'">Create Recipe</button>
            <button type="submit"
                    class="btn btn-custom btn-large btn-block"
                    ng-if="type == 'edit'">Update Recipe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <section class="searchField center">
        <form ng-submit="search()">
          <input type="text" ng-model="searchTerm" placeholder="Search">
        </form>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table class="top table table-striped table-hover table-responsive table-bordered">
        <tr ng-repeat="food in foodstuffs">
          <td>{{food.name}}</td>
          <td><a href="#" ng-click="modalSearch(food.ndbno)"> Nutrient info</a></td>
          <td><a href="#" ng-click="addFood(food.ndbno)">Add food to recipe</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

</div>
